$main-font-size: 16px;
$source-sans-pro: 'Source Sans Pro', sans-serif;

$primary-dark: #5a8055;
$primary: #7bae73;
$secondary-dark: #FB8500;
$secondary: #ff8484;
$grey00: #ffffff;
$grey10: #fffefb;
$grey20: #eeeeee;
$grey30: #b4b4b4;
$grey40: #3f3f3f;
$grey50: #49485e;
$black: #000;

$border-radius: 4px;
$border-radius-md: 10px;

//z-indexes
$z-bottom: 10;
$z-middle-bottom: 100;
$z-middle: 150;
$z-middle-top: 200;
$z-top-10: 300;
$z-top-20: 400;
$z-top-30: 500;

// breakpoints
$xs-break: 375px;
$sm-break: 576px;
$md-break: 768px;
$lg-break: 992px;
$xl-break: 1400px;
